
.hide{
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin-inline: auto;
  width: fit-content;
}

#leaderboard{
  display: grid;
  grid-template-areas:
  "title title title"
  "board board board"
  "Button Button Button";
}

#leaderboard > #title{
  grid-area: title;
  justify-self: center;;
  justify-items: center;
  justify-content: center;
}

#leaderboard > #board {
  grid-area: board;
  justify-items: center;
  justify-self: center;
}

#leaderboard > Button{
  grid-area: Button;
  justify-self: center;
}

.container {
  width: 600px;
  height: auto;
  border: solid black;

}

.items {
  color: white;
}

.row {
  position: relative;
  display: block;
  width: 94%;
  height: 40px;
  border: solid black;
  margin: 3%;
  align-content: center;
}

.seen {
  opacity: 0;
  transform: translateX(-50%);
  animation: fadeLeft 2s forwards;
}

@keyframes fadeLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#number1 {
animation-delay: 0ms;
}

#number2 {
animation-delay: 250ms;
}

#number3 {
animation-delay: 500ms;
}

#number4 {
animation-delay: 750ms;
}

#number5 {
animation-delay: 1s;
}

#number6 {
animation-delay: 1.25s;
}

#number7 {
animation-delay: 1.5s;
}

#number8 {
animation-delay: 1.75s;
}

#number9 {
animation-delay: 2s;
}

#number10 {
animation-delay: 2.25s;
}

.rank {
  display: inline-flex;
  width: 10%;
  justify-content: center;
  margin-left: 5%;
}

.name {
  display: inline-flex;
  width: 50%;
}

.userId {
  opacity: 0.4;
  display: inline-flex;
  width: 40%;
  margin-left: 5%;
}

.score {
  display: inline-flex;
  justify-content: end;
  width: 30%;
  justify-self: end;
}
