* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 19, 18);
}


.lobby-list {
    list-style-type: none; /* Removes default list style */
    padding: 0;
    background-color: green;
}

.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.section3{
    color: whitesmoke;
    font-family: serif;
    font-size: 25px;
}

.button-wrapper{
    display: inline-block;
    padding: 5px; 
    margin-top: auto;
    border-radius: 15px; 
    background: linear-gradient(to right, #f33726, #fbea8b);
}

    
.addPlayer-button{
    background-color: whitesmoke;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    width: 10em;
    height: 3em;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}


.title{
    font-family: serif;
    color: whitesmoke;
    font-size: 45px;
    text-align: center;
    margin-right: 15%;
    flex-grow: 1;
}


.player1, .player2, .bot1, .bot2{
    display: inline-block;
    padding: 5px; 
    margin-top: auto;
    border-radius: 15px; 
    background: linear-gradient(to right, #f33726, #fbea8b);
    margin-top: 25px;
}



