* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    
}


#lobby-list {
    list-style-type: none; /* Removes default list style */
    padding: 0;
    background-color: green;
}

#top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    overflow-y: auto;
}

#line
{
    width: 58%;
    background: linear-gradient(to right, #ff6ec4, #7873f5, #42e695, #f9ed69, #f33726);

    height: 1px;
    margin: 50px 100px 50px 300px;
}

#section3{
    position: sticky;
    top: 0px;
    color: whitesmoke;
    font-family: serif;
    font-size: 40px;
}

#button-wrapper1{
    display: inline-block;
    padding: 5px; 
    margin: auto 0px;
    border-radius: 15px; 
    background: linear-gradient(to right, #f33726, #fbea8b);
}


#addPlayer{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 10em;
    height: 3em;
    border: none; 
    border-radius: 10px;
    transition: 0.3s;
}

    
#lower-banner{
    width: 100%;
}



#title{
    font-family: serif;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    margin: 0px 170px 10px 0px;
    flex-grow: 1;
}

#main{
    width: 100%;
    margin: 50px 0px;
    height: 300px;
}

#main #container{
    display: flex;
    /* justify-content: center;   */
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 50px 0px;
}

#main-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    height: 100%;
    margin: 0px 0px 0px 300px;
}

#players-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

#left-column{
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
}

#player1, #player2, #bot1, #bot2{
    cursor: pointer;
    width: 176px;
    height: 86px;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: #CC00FF;
    border-radius: 34px;
    background-color: black;
}


#middle-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-wrapper2{
    display: flex;
    padding: 5px; 
    margin: auto;
    border-radius: 20px; 
    background: linear-gradient(to right, #d01449, #271ed3);
    width: 370px;
    height: 81px;
}

#selectPlayer{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 44px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    background-color: black;
    padding-top: 8px;
}

#sp{
    text-align: center;
    align-items: center;
    font-size: 44px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-right-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 15%;
    margin: 0px 30px 250px 0px;
}

#main-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 10px;
    height: 100%;
    width: 280px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(155, 116, 231));
    transition: 0.3s;
    
}

#mr{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}

#lobby{
    width: 100%;
    margin: 50px 0px;
}

#lobby #container
{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 83%;
    margin: 150px 0px 0px 300px;
}

#lobby-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

#lobby-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#lobby-Title-Card {
    text-align: center;
    height: 46px;
    width: 300px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(2, 253, 2), white, orange);
    margin: auto;
}

#lobbywrite
{
    color: black;
    font-family: sans-serif;
    font-size: 41px;
}

#refresh
{
    display: flex;
    flex-direction: row ;
    justify-content: flex-end;
    text-align: center;
    background: black;
    
}

#refereshwrite
{
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    width: 50px;
    height: 45px;
    margin-right: 50px;
}

#lobby-bottom{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    background: rgb(195, 193, 193);
}


#lobby-item {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    background: rgb(11, 88, 100);
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

#lobby-item:first-child {
    margin-top: 40px;
}

#lobby-name {
    margin-left: 50px;
}

#capacity {
    margin-left: 150px;
}

#join-game {
    margin-left: 60px;
}

#join-game {
    cursor: pointer;
    background-color: rgb(2, 253, 2);
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    height: 20px;
    width: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}



#back-button{
    display: inline-block;
    padding: 5px; 
    margin-top: auto;
    border-radius: 15px; 
    background: linear-gradient(to right, #f33726, #fbea8b);
    margin-right: 10px;
    position: sticky;
    bottom: 2px;
}

#back
{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    width: 10em;
    height: 3em;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}